@import "../node_modules/@ng-select/ng-select/themes/default.theme.css";

body {
  background-image: radial-gradient(circle at 50% 12.41%, #0062ff 0, #0058ff 16.67%, #484bfe 33.33%, #783cf2 50%, #9826e4 66.67%, #b000d5 83.33%, #c300c4 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}
.img-thumb {
  width: 50px;
  height: 50px;
}

.img-circle {
  border-radius: 100%;
  width: 150px;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}
