<div class="registration-form animated fadeIn">
    <form #registroForm="ngForm">
        <div class="form-icon">
            <span><i class="icon icon-user"></i></span>
        </div>
        <div>
            <h1 class="form-title">Constructora Bob</h1>
            <h3 class="form-title">Registro de Tarea</h3>
        </div>


        <div class="form-group">
            <select class="form-select form-control item" id="capatazId" name="directorId" aria-label="Default select example" required [(ngModel)]="datos.capatazId">
              <option disabled>Selecciona el Capataz de la Obra</option>
              <option *ngFor="let capataz of capataces" [value]="capataz.usuarioId">{{capataz.nombre + ' ' + capataz.apellido}}</option>
            </select>
            <div *ngIf="registroForm.controls['directorId'].invalid && (registroForm.controls['directorId'].dirty || registroForm.controls['directorId'].touched)" class="alert alert-danger">
                <div *ngIf="registroForm.controls['directorId']?.errors?.['required']">
                    Por favor, selecciona el capataz de la Obra.
                </div>
            </div>
          </div>
  
        
  
    </form>
  
  </div>
  
