<div class="row m-5 animated fadeIn table-responsive">
  <div class="row">
    <div class="col">
      <table class="table table-primary table-hover table-bordered table-striped">

        <thead>
          <tr>
            <th class="text-center" >Nombre</th>
            <th class="text-center">Tipo de Obra</th>
            <th class="text-center">Ubicación</th>
            <th class="text-center">Director</th>
            <th class="text-center">Trabajadores Asignados a la Obra</th>
            <th class="text-center">Estado</th>
            <th class="text-center">Cambiar Estado</th>
            <th class="text-center">Detalles</th>
            <th class="text-center">Editar Obra</th>
          </tr>
        </thead>



        <tbody *ngFor ="let obra of obras">
          <tr>
            <td>{{obra.nombre}}</td>
            <td>{{obra.tipoObraId}}</td>
            <td>{{obra.ubicacion}}</td>
            <td>{{obra.directorNombre}}</td>
            <td>{{obra.usuariosNombres.join(', ')}}</td>
            <td *ngIf="obra.obra_delete">Deshabilitado</td>
            <td *ngIf="obra.obra_delete" class="text-center" >
              <button class="btn btn-success " (click)="cambiarEstadoObra(obra.obraId, obra.obra_delete)">Habilitar</button>
            </td>
            <td *ngIf="!obra.obra_delete" >Habilitado</td>
            <td *ngIf="!obra.obra_delete" class="text-center">
              <button class="btn btn-danger" (click)="cambiarEstadoObra(obra.obraId, obra.obra_delete)" >Deshabilitar</button>
            </td>

            <td>
              <button class="btn btn-primary " (click)="detalles(obra.obraId)">Detalles</button>
            </td>

            <td>
              <button class="btn btn-dark " (click)="crearTarea(obra.obraId)">Agregar tarea</button>
            </td>
